*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background: #000;
  color: #ff0000;
}

.manpage {
  font-family: monospace;
  font-size: 0.95rem;
  line-height: 1.2;
  white-space: pre-wrap;
  max-width: 80ch;
  margin: 2rem auto;
  padding: 0 1rem;
}

.header {
  display: block;
  color: #cc0006;
  margin-bottom: 1rem;
}

.section {
  display: block;
  font-weight: bold;
  margin-bottom: -15px;
  margin-top: 10px;
}

a {
  color: #ff0000;
}

a:hover {
  border-bottom-color: #ff0000;
}
