@font-face {
	font-family: 'IBM VGA 7x14';
	src: url('fonts/WebPlus_IBM_VGA_8x14.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'IBM VGA 7x14', sans-serif;
	background: black;
	color: #AAAAAA;
}

.subsys-prefix {
	color: #AA5500;
}

.timestamp {
	color: #00AA00;
}

.cursor {
	background: #AAAAAA;
	color: black;
}
