/* http://www.dafont.com/pt/equestria.font */

@font-face {
    font-family: equestria;
    src: url(../fonts/equestria.otf);
}


/* Scroll Up */

.navbar-nav.fixed-top {
    background-color: #22252b !important;
    border-color: #22252b !important;
}

.navbar-nav.fixed-top>.active>a,
.navbar-nav.fixed-top>.active>a:hover,
..navbar-nav.fixed-top>.active>a:focus {
    color: #fff;
    background-color: #4f525a;
}

#scrollup {
    transition: opacity 0.35s, z-index 0.35s;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
}

#scrollup:before {
    transition: background-color 0.12s;
    border-radius: 50%;
    padding: 15px 12px;
    padding-right: 14px;
}

#scrollup:before,
#scrollup {
    font-size: 25pt;
    position: fixed;
    bottom: 40px;
    right: 25px;
}

#scrollup[class*="affix"]:not(.affix-top) {
    opacity: 1;
    z-index: 1 !important;
}

.modal-open #scrollup:before[class*="affix"]:not(.affix-top),
.hidescroll #scrollup:before[class*="affix"]:not(.affix-top) {
    margin-right: 116px !important;
}

#scrollup:before {
    background-color: #adb7d2;
}

#scrollup:before,
#scrollup {
    color: #FFF;
}

#scrollup:hover:before {
    background-color: #c6cde0 !important;
}

#scrollup:active:before {
    background-color: #c6cde0 !important;
}


/* Restante */

body {
    padding: 35px;
    font-size: 14px;
    line-height: 1.5;
    background: #e6e6e6;
}

textarea {
    resize: vertical;
    overflow: auto;
}

body,
option {
    font-size: 14px;
}

input[type="checkbox"] {
    margin: -5px 5px 0px 5px;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 35pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4F525A;
    text-shadow: 1px 1px 1px white;
    font-family: equestria;
}

#baseurl {
    width: 175px;
}

a {
    font-weight: bold;
    color: #525A6E;
    transition: color 0.15s;
}

a:visited {
    color: #898FA1;
    text-decoration: none;
}

a:hover {
    color: #97A0B8;
    text-decoration: none;
}

a:active,
a:focus {
    text-decoration: none;
}

.button:hover {
    color: white;
}

.codelabel {
    font-weight: bold;
}

.button,
button,
select {
    display: inline-block;
    /* well just screw browsers that don't support this */
    padding: 5px 15px;
    margin: 2px;
    color: white;
    border: 0px solid transparent;
    cursor: hand;
    cursor: pointer;
    background: #adb7d2;
    transition: background 0.15s, background-color 0.15s;
}

a.button:visited {
    color: white;
}

.button:focus,
button:focus,
select:focus,
.button:hover,
button:hover,
select:hover {
    background: #c6cde0;
    outline: none;
}

.button:active,
button:active,
select:active {
    background: #adb7d2;
}

.button.disabled,
button:disabled,
select:disabled {
    cursor: default;
    background: #D3DBE1;
}

#bookmarklet {
    padding: 10px 30px;
    font-size: 1.2em;
}

#bookmarkletwrapper,
#bookmarkswrapper {
    text-align: center;
}

input,
#ponylist button,
table button,
button.remove,
button.increase,
button.decrease {
    padding: 3px 9px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#controls,
#zero {
    text-align: center;
}

input {
    border: 1px solid #8A8A8A;
}

pre.code {
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    color: white;
    background: #333333;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.keyword {
    font-weight: bold;
    color: #B8A36E;
}

.literal {
    color: #F69B9B;
}

.comment {
    color: #7C7C7C;
}

table,
#embedcodewrap,
#iframewrap {
    margin: auto;
}

#embedcodewrap,
#iframewrap {
    width: 200px;
}

#embedcode,
#iframe {
    width: 100%;
    overflow: hidden;
}

#main {
    position: relative;
    border: 1px solid #C6CDE0;
    border: 1px solid rgba(198, 205, 224, 0.8);
    padding: 35px;
    margin-top: 35px;
}

#title {
    font-family: equestria;
    font-size: 16pt;
}

#main,
input {
    background: white;
    background: rgba(255, 255, 255, 0.8);
}

#footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px !important;
    margin-bottom: -19px;
}

#ponylist {
    margin: auto;
    width: 410px;
    height: 400px;
    overflow: auto;
    list-style: none;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#ponylist li {
    margin-bottom: 40px;
}

input.number {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 67px;
    display: inline;
    margin-left: 12px;
}

#own-baseurl {
    width: 100%;
    min-width: 100%;
    display: block;
}

.own-baseurl-base {
    width: 100%;
}

#ponylist input.number {
    margin-top: 0px;
    margin-bottom: 0px;
}

.config_ponies td {
    padding: 0px 5px;
}

.ponyname {
    font-weight: bold;
}

.ponyimg {
    min-width: 200px;
    text-align: center;
    display: inline-block;
}

#catselect {
    position: absolute;
    background: white;
    cursor: hand;
    cursor: pointer;
}

#catselect {
    list-style: none;
    margin: 0;
    padding: 0;
}

#catselect {
    border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    padding: 3px;
}

#catselect li {
    padding: 3px 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#catselect li:hover {
    background: #898FA1;
    color: white;
}

#nocatadded {
    font-size: 0.85em;
}

.delcat {
    cursor: hand;
    cursor: pointer;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 0 2px;
}

.delcat:hover {
    background: #8A8A8A;
    color: #D3DBE1;
}

#nocatadded,
li#allcatsadded {
    color: #6f7d88;
}

li#allcatsadded {
    cursor: default;
}

li#allcatsadded:hover {
    color: #A1B4C3;
    background: white;
}

p,
#filterwrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dropzone {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #8A8A8A;
    position: relative;
    overflow: hidden;
    cursor: hand;
    cursor: pointer;
}

.dropzone input[type="file"] {
    position: absolute;
    margin: 0;
    padding: 0;
    border-style: none;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: hand;
    cursor: pointer;
}

.dragover {
    background-color: #898FA1;
    color: white;
}

.file .dropzone {
    padding: 0px 5px;
    border-radius: 5px;
}

input[type="text"] {
    padding: 3px 9px;
}

input[type="text"].dropzone {
    cursor: auto;
    text-align: left;
    padding: 3px 9px;
}

#own-ponies .name {
    font-weight: bold;
    font-size: 1.2em;
}

#own-ponies li.pony {
    list-style: none;
}

#ponylist input[type="text"] {
    margin-left: 6px;
}

#ponylist button {
    margin-left: 6px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    body {
        padding: 0px;
    }
    #main.container {
        padding: 20px;
    }
    #footer {
        margin-top: -25px;
        margin-bottom: -10px;
        color: #000;
    }
    #ponylist {
        width: auto;
        text-align: center;
        overflow-x: hidden;
    }
}